a
{
	color: #BF5700
}

a:hover
{
	color: #8C4000
}

.container-fixed
{
	width: 800px;
	margin: auto;
}
td.nowrap
{
	white-space:nowrap;
	vertical-align:top;
}
.publicationList p
{
	margin-top: 0em;
	margin-bottom: 0em;
}
.publicationList li
{
	margin-bottom: 1em;
}

.header-thumb
{
	padding-left:1em;
}

a.paper-extralinks:link, a.blog-link:link
{
	color: #005F86
}

a.paper-extralinks:visited, a.blog-link:visited
{
	color: #005F86
}

a.blog-link:link
{
	color: #382F2D
}

a.blog-link:visited
{
	color: #382F2D
}

ul.no-space-before
{
	margin-top: -10px
}

h4.blog-section
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #DFDFDF;
	padding: 5px;
	font-weight: bold;
}

div.highlight-para
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #DFDFDF;
	padding: 5px;
}

.myname
{
	text-decoration: underline;
}

.confabbr
{
	font-weight: 900;
}

.confname
{
	font-weight: 400;
}

.abstract {
  margin-top: 0.15em;
  margin-bottom: -0.1em;
  border-left: 3px solid rgb(78, 93, 108);
  padding-left: 0.5em;
  text-align: left;
}

.page-header {
  font-size: 12pt;
  border-bottom: 2px solid #8C4000;
}

.less-margin-row {
  margin-top: -10px;
  margin-bottom: -10px;
}

.less-top-margin {
  margin-top: 0px;
}

